<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.team1.persistence.BoardMapper">

	<select id="listAll" resultMap="resultset">
		select * from tbl_board
	</select>
	<resultMap type="org.team1.domain.BoardVO" id="resultset"></resultMap>
	
	<select id="listpage" resultMap="resultlist">
	<![CDATA[
	
		select * from (select bno,title,content, writer, regdate, updatedate, hit,rownum rn from (select * from tbl_board order by bno desc) where rownum <= (#{page}* 12)) where rn> (#{page}-1)*12
		]]>  	
	</select>
	<resultMap type="org.team1.domain.BoardVO" id="resultlist"></resultMap>
	
	<insert id="create">
		insert into tbl_board (bno, title, content, writer) values (seq_board.nextval, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="org.team1.domain.BoardVO">
		select * from tbl_board where bno=#{bno}
	</select>
	
	<update id="update">
		update tbl_board set title = #{title}, content = #{content},writer = #{writer}, updatedate = sysdate where bno=#{bno}
	</update>
	
	<delete id="delete">
		delete from tbl_board where bno=#{bno}
	</delete>
	
	<update id="hit">
		update tbl_board set hit=hit+1 where bno=#{bno}
	</update>
	
	<select id="totalcount" resultType="int">
		select count(*) from tbl_board
	</select>
	
</mapper>